.content{
    text-align: center;
    color: #bababa;
}

#xiaoyun{
    font-size: 36px;
    border: 1px solid black;
    width: 156px;
    height: 56px;
    color: #bababa;
    margin: auto;
    text-shadow: 4px 2px 2px #8f8f8f;
}

#xiaoyun:hover{
    animation: KF_xiaoyun_hover 750ms;
    animation-fill-mode: forwards;
    text-shadow: 4px 2px 2px rgb(5, 120, 15);
}


@keyframes KF_xiaoyun_hover {
    0%{}
    100%{
        transform: rotateY(360deg) scale(1.5,1.5);
        color:rgb(24, 222, 54);
        
    }
}

@keyframes KF_xiaoyun_hover_out {
    
}