$phone-width: 768px;
$primary-border-radius: 12px;
$secondary-border-radius: 8px;

$light-primary-color: #f5f9ff;
$light-primary-text-color: #1A1A1A;
$light-secondary-color: #e1ecf7;
$light-secondary-text-color: #4B4B4B;
$light-tertiary-color: #cad8e6;
$light-tertiary-text-color: #858383;
$light-float-component-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$light-red: #FF9999;
$light-orange: #FFCC99;
$light-blue: #99CCFF;
$light-green: #99CC33;
$light-yellow: #FFFFCC;
$light-purple: #FF99CC;
$light-gray: #CCCCCC;

$dark-primary-color: #3d3e3f;
$dark-primary-text-color: #F0F4F8;
$dark-secondary-color: #1f2020;
$dark-secondary-text-color: #B0B8C1;
$dark-tertiary-color: #525558;
$dark-tertiary-text-color: #919aa3;
$dark-float-component-shadow: 0 4px 8px rgba(255, 255, 255, 0.04);
$dark-red: #CC3333;
$dark-orange: #CC6600;
$dark-blue: #006699;
$dark-green: #339933;
$dark-yellow: #FF9900;
$dark-purple: #663399;
$dark-gray: #999999;

$alpha: 0.65;

@mixin home-padding {
    padding-top: 48px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 48px;
}

@mixin article-padding {
    padding-top: 48px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 48px;
}
